.DS_Store

# Bundled builds
build/

# Credentials (keep out of github)
serviceAccount.json

# Third party libs
node_modules/

# Env variables
.env

# Firebase
.firebase/hosting*

# Temporary vim files
*.swo
*.swp
