.podcastHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 15px;
}

.podcastHeader:before,
.podcastHeader:after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  background-color: #5c668e;
  position: relative;
  top: -5px;
}

.podcastTitle {
  border: 1px solid #5c668e;
  border-radius: 50px;
  padding: 10px 20px;
  background: #5c668e;
  color: white;
}
