.aboutTitle {
  font-weight: bold;
  font-size: 55px;
}

.aboutDetails{
  width: 100%;
  line-height: 20px;
  font-size: 15px;
}

.aboutSummary {
  width: 100%;
  max-width: 500px;
  padding: 0 10px 10px 0;
  font-size: 18px;
}

.aboutAuthor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.aboutContainer {
  display: flex !important;
  flex-direction: column;
  padding: 0 45px 45px 45px !important;
  border: 5px solid black;
  background: white;
  box-shadow: 4px 6px 7px #1d1d1d;
}
