
html, body {
  font-family: "Roboto Mono" !important;
  color: 'white' !important;
  background-color: 'black' !important;
  height: 100%;
}

#root {
  width: inherit;
  height: inherit;
}

section {
  display: flex;
  flex-direction: column;
  width: inherit;
}

.menuButton {
  border: 2px solid rgb(100, 255, 218) !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  color: white;
  font-size: 11px;
}

.footer a {
  color: white;
}

.footer p {
  margin: auto 5px;
}

