
html, body {
  font-family: "Roboto Mono" !important;
  color: 'white' !important;
  background-color: 'black' !important;
  height: 100%;
}

#root {
  width: inherit;
  height: inherit;
}

section {
  display: flex;
  flex-direction: column;
  width: inherit;
}
